# Default ignored files
httpRequests/
shelf/
workspace.xml

# Datasource local storage ignored files
dataSources/
dataSources.local.xml

# Python files
.ipynb_checkpoints/
.venv/
.idea
runs/
*.pyc

# Datasets
ASLYSet/
datasets/
autre_sets/
basic_set/
faces/

# Config files
*.conf
*.pdf

# API keys
secret.py